<!-- リンクでAjax -->
<p>クリックすると投稿ページをAjaxで下記に表示</p>
<%= link_to '動画を投稿', new_ajax_test_path, remote: true, id: 'link-ajax' %>
<div id="result-link"></div>

<br><hr><br>

<!-- フォームでAjax -->
<p>urlまたはtitle(空白区切りでAND指定)で検索</p>
<%= form_for(@ajax_test, url: ajax_tests_search_path, remote: true, method: :get, html: {id: 'form-ajax'}) do |f| %>
  <%= f.text_field :keywords %>
  <%= f.submit("検索") %>
<% end %>
<div id="result-form"></div>
